japanese-data/words.json filter=lfs diff=lfs merge=lfs -text
japanese-data/words_index.json filter=lfs diff=lfs merge=lfs -text
japanese-data/words_n1.json filter=lfs diff=lfs merge=lfs -text
japanese-data/words_n2.json filter=lfs diff=lfs merge=lfs -text
japanese-data/words_n3.json filter=lfs diff=lfs merge=lfs -text
japanese-data/words_n4.json filter=lfs diff=lfs merge=lfs -text
japanese-data/words_n5.json filter=lfs diff=lfs merge=lfs -text
